body {
  font-size: 16px;
  color: #000;
  background-color: #080;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #000;
  border-radius: 0;
  border: 0;
}



.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 /*web name*/
{
  font-family:'Lora', serif;
  color:#DDD;
  font-size:1.5em;
  text-transform:uppercase;
  font-weight:bold;
  text-shadow:1px 1px 1px #222;
  margin-top:8px;
  margin-bottom:0px;
  line-height:.75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

.h1, h1 {
    font-size: 35px;
    color:#DDD;
    text-align:center;
}
section
{
  background-color:#DDD;
  width:auto;
  margin:10px;
  border:solid black;
  display:inline-block;
  padding-left:10px;
  
}
#h1
{
  text-align:center;
  margin:10px 0px 13px 10px;
  font-size:23px;
}
#both
{
  padding:34px 0 0 0;
}
.navbar-toggle
{
  margin-top:-18px;
}
@media(min-width:1200px){
  .container
{
  height:100px;
}
}
@media(min-width:992px) and (max-width:1199px)
{
   .container
{
  height:100px;
}
}
@media(min-width:768px) and (max-width:991px)
{
    .container
{
  height:100px;
} 
}